.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url("fundo.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner h2{
    color: #ffffff;
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;

}

.banner span{
    color: #4978ff;
}