.conteudo-teste h3{
display: flex;
justify-content: center;
}
.teamBx{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-row-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}


.teamBx .membros{
    position: relative;
    background: #000000;
    min-height:300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamBx .membros .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.teamBx .membros .imgBx img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teamBx .membros .detalhes{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    transition: 0.2s;
    opacity: 0;
}

.teamBx .membros:hover .detalhes{
    opacity: 1;
}

.teamBx .membros .detalhes h2{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;

}

.teamBx .membros .detalhes h2 span{
    display: block;
    font-size: 12px;
    font-weight: 300;

}


